.Kingdoms{
    align-items: baseline;
    display: flex;
    justify-content: space-around;
}

.kingdomtitle{
    font-size: large;
    font-weight: bold;
}

.kingdom{
    background-color: antiquewhite;
    display:inline-block;
    position: relative;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.tooltip {
    position: relative;
    display:inline;
    border-bottom: 1px dotted black;
  } 
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(92, 113, 140);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(92, 113, 140) transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }