<!DOCTYPE html>
<html>
    <body>
        <div class="World">
            <h1>The World of {{world.name}}</h1>
            <p>{{world.world_traits}}</p>
            <p><b>Capital: </b>{{world.capital.name}}</p>
        </div>
        <div class="Kingdoms">
            {% for kingdom in kingdoms %}
            <div class="kingdom">
                <h2>{{kingdom.name}}</h2>
                <p>{{kingdom.kingdom_traits}}</p>
                <p><b>Religion: </b>{{kingdom.religion.name}}</p>
                <p><b>Leader: </b>{{kingdom.leader.firstname}} {{kingdom.leader.lastname}} ({{kingdom.leader.gender}}) {{kingdom.leader.traits}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="Religions">
            <h2>Religions</h2>
            {% for religion in religions%}
            <p><b>{{religion.name}}</b></p>
            <p>+ {{religion.desirable}} - {{religion.undesirable}}</p>
            {% endfor %}
        </div>
    </body>
</html>